<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <trace autoflush="true" indentsize="5"/>
    
    <sources>
      <source name="appInfo" switchValue="Verbose">
        <listeners >
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="mytrace.log"/>
    </sharedListeners>
</configuration>